torch
torchvision
Flask
imageio-ffmpeg
pyspng
numpy
scipy
requests
Pillow
pandas
opencv-python
opencv-contrib-python
scikit-image
tqdm
nltk
pyparsing
certifi
joblib
urllib3
coloredlogs
pytorch-transformers==1.2.0
